@CHARSET "ISO-8859-1";

.page_navigation{
	position: relative;
	margin-bottom: 15px;
	font-size: 12px;
	margin-left: 10px;
}

.page_navigation a{
	font-size: 12px;
	margin-right: 5px;
	text-decoration: none;
	color: black;
	padding: 5px;
}

.page_navigation .active_page{
	background-color: #1575A8;
	color: white;
}

.page_navigation a:hover{
	background-color: #1575A8;
	color: white;
}

.lista_empresas_paginate{
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	margin: auto;
	width: 780px;
}

.lista_empresas_paginate li{
	position: relative;
	border: dashed 1px #BDBFC1;
	float: left;
	width: 350px;
	margin-right: 15px;
	height: 170px;
	margin-bottom: 15px;
	padding: 5px;
}

.lista_empresas_paginate li img{
	position: relative;
	float: left;
	width: 140px;
	height: 170px;
}

.lista_empresas_paginate li p{
	position: relative;
	float: right;
	width: 200px;
	text-align: right;
	font-size: 12px;
	margin-top: 0;
}

.lista_empresas_paginate li a{
	position: absolute;
	float: right;
	font-size: 12px;
	color: white;
	padding: 10px;
	text-decoration: none;
	top: 140px;
	right: 5px;
}